# Add files here to ignore them from prettier formatting

/dist
/coverage
/node_modules
/public
/.yarn
.docusaurus/

/apps/web/node_modules
/apps/web/public
/apps/web/.cache

/apps/corporate/node_modules
/apps/corporate/public
/apps/corporate/.cache
