/*
 * Copyright 2021 Watheia Labs, LLC. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.wa {
  /* wa-animationGlobals.css */
  --wa-global-animation-duration-0: 0ms;
  --wa-global-animation-duration-100: 130ms;
  --wa-global-animation-duration-200: 160ms;
  --wa-global-animation-duration-300: 190ms;
  --wa-global-animation-duration-400: 220ms;
  --wa-global-animation-duration-500: 250ms;
  --wa-global-animation-duration-600: 300ms;
  --wa-global-animation-duration-700: 350ms;
  --wa-global-animation-duration-800: 400ms;
  --wa-global-animation-duration-900: 450ms;
  --wa-global-animation-duration-1000: 500ms;
  --wa-global-animation-duration-2000: 1000ms;
  --wa-global-animation-duration-4000: 2000ms;
  --wa-global-animation-ease-in-out: cubic-bezier(0.45, 0, 0.4, 1);
  --wa-global-animation-ease-in: cubic-bezier(0.5, 0, 1, 1);
  --wa-global-animation-ease-out: cubic-bezier(0, 0, 0.4, 1);
  --wa-global-animation-linear: cubic-bezier(0, 0, 1, 1);

  /* wa-colorGlobals.css */
  --wa-global-color-status: Verified;
  --wa-global-color-version: 5.1;
  --wa-color-black: rgb(0, 0, 0);
  --wa-color-white: rgb(255, 255, 255);
  --wa-color-blue: rgb(20, 115, 230);
  --wa-color-gray-50: rgb(254, 254, 255);
  --wa-color-gray-75: rgb(255, 255, 255);
  --wa-color-gray-100: rgb(255, 255, 255);
  --wa-color-gray-200: rgb(244, 244, 244);
  --wa-color-gray-300: rgb(234, 234, 234);
  --wa-color-gray-400: rgb(211, 211, 211);
  --wa-color-gray-500: rgb(188, 188, 188);
  --wa-color-gray-600: rgb(149, 149, 149);
  --wa-color-gray-700: rgb(116, 116, 116);
  --wa-color-gray-800: rgb(80, 80, 80);
  --wa-color-gray-900: rgb(50, 50, 50);
  --wa-color-blue-200: rgb(90, 169, 250);
  --wa-color-blue-300: rgb(75, 156, 245);
  --wa-color-blue-400: rgb(55, 142, 240);
  --wa-color-blue-500: rgb(38, 128, 235);
  --wa-color-blue-600: rgb(20, 115, 230);
  --wa-color-blue-700: rgb(13, 102, 208);
  --wa-color-blue-800: rgb(9, 90, 186);
  --wa-color-red-400: rgb(236, 91, 98);
  --wa-color-red-500: rgb(227, 72, 80);
  --wa-color-red-600: rgb(215, 55, 63);
  --wa-color-red-700: rgb(201, 37, 45);
  --wa-color-orange-400: rgb(242, 148, 35);
  --wa-color-orange-500: rgb(230, 134, 25);
  --wa-color-orange-600: rgb(218, 123, 17);
  --wa-color-orange-700: rgb(203, 111, 16);
  --wa-color-green-400: rgb(51, 171, 132);
  --wa-color-green-500: rgb(45, 157, 120);
  --wa-color-green-600: rgb(38, 142, 108);
  --wa-color-green-700: rgb(18, 128, 92);
  --wa-color-celery-200: rgb(88, 224, 111);
  --wa-color-celery-300: rgb(81, 210, 103);
  --wa-color-celery-400: rgb(75, 195, 95);
  --wa-color-celery-500: rgb(68, 181, 86);
  --wa-color-celery-600: rgb(61, 167, 78);
  --wa-color-celery-700: rgb(55, 153, 71);
  --wa-color-chartreuse-300: rgb(155, 236, 84);
  --wa-color-chartreuse-400: rgb(142, 222, 73);
  --wa-color-chartreuse-500: rgb(133, 208, 68);
  --wa-color-chartreuse-600: rgb(124, 195, 63);
  --wa-color-chartreuse-700: rgb(115, 181, 58);
  --wa-color-yellow-200: rgb(255, 226, 46);
  --wa-color-yellow-300: rgb(250, 217, 0);
  --wa-color-yellow-400: rgb(237, 204, 0);
  --wa-color-yellow-500: rgb(223, 191, 0);
  --wa-color-yellow-600: rgb(210, 178, 0);
  --wa-color-yellow-700: rgb(196, 166, 0);
  --wa-color-magenta-200: rgb(245, 107, 183);
  --wa-color-magenta-300: rgb(236, 90, 170);
  --wa-color-magenta-400: rgb(226, 73, 157);
  --wa-color-magenta-500: rgb(216, 55, 144);
  --wa-color-magenta-600: rgb(202, 41, 130);
  --wa-color-magenta-700: rgb(188, 28, 116);
  --wa-color-fuchsia-400: rgb(207, 62, 220);
  --wa-color-fuchsia-500: rgb(192, 56, 204);
  --wa-color-fuchsia-600: rgb(177, 48, 189);
  --wa-color-fuchsia-700: rgb(162, 40, 173);
  --wa-color-purple-400: rgb(157, 100, 225);
  --wa-color-purple-500: rgb(146, 86, 217);
  --wa-color-purple-600: rgb(134, 76, 204);
  --wa-color-purple-700: rgb(122, 66, 191);
  --wa-color-purple-800: rgb(111, 56, 177);
  --wa-color-indigo-200: rgb(144, 144, 250);
  --wa-color-indigo-300: rgb(130, 130, 246);
  --wa-color-indigo-400: rgb(117, 117, 241);
  --wa-color-indigo-500: rgb(103, 103, 236);
  --wa-color-indigo-600: rgb(92, 92, 224);
  --wa-color-indigo-700: rgb(81, 81, 211);
  --wa-color-seafoam-200: rgb(38, 192, 199);
  --wa-color-seafoam-300: rgb(35, 178, 184);
  --wa-color-seafoam-400: rgb(32, 163, 168);
  --wa-color-seafoam-500: rgb(27, 149, 154);
  --wa-color-seafoam-600: rgb(22, 135, 140);
  --wa-color-seafoam-700: rgb(15, 121, 125);
  --wa-opacity-100: 1;
  --wa-opacity-90: 0.9;
  --wa-opacity-80: 0.8;
  --wa-opacity-60: 0.6;
  --wa-opacity-50: 0.5;
  --wa-opacity-42: 0.42;
  --wa-opacity-40: 0.4;
  --wa-opacity-30: 0.3;
  --wa-opacity-25: 0.25;
  --wa-opacity-20: 0.2;
  --wa-opacity-15: 0.15;
  --wa-opacity-10: 0.1;
  --wa-opacity-8: 0.08;
  --wa-opacity-7: 0.07;
  --wa-opacity-6: 0.06;
  --wa-opacity-5: 0.05;
  --wa-opacity-4: 0.04;

  /* wa-colorSemantics.css */
  --wa-negative-color-background: var(--wa-color-red-700);
  --wa-negative-color-default: var(--wa-global-color-red-500);
  --wa-negative-color-state-hover: var(--wa-global-color-red-600);
  --wa-negative-color-dark: var(--wa-global-color-red-600);
  --wa-negative-color-border: var(--wa-global-color-red-400);
  --wa-negative-color-icon: var(--wa-global-color-red-600);
  --wa-negative-color-status: var(--wa-global-color-red-400);
  --wa-negative-color-text-large: var(--wa-global-color-red-500);
  --wa-negative-color-text-small: var(--wa-global-color-red-600);
  --wa-negative-color-state-down: var(--wa-global-color-red-700);
  --wa-negative-color-state-focus: var(--wa-global-color-red-400);
  --wa-notice-color-background: var(--wa-color-orange-700);
  --wa-notice-color-default: var(--wa-global-color-orange-500);
  --wa-notice-color-dark: var(--wa-global-color-orange-600);
  --wa-notice-color-border: var(--wa-global-color-orange-400);
  --wa-notice-color-icon: var(--wa-global-color-orange-600);
  --wa-notice-color-status: var(--wa-global-color-orange-400);
  --wa-notice-color-text-large: var(--wa-global-color-orange-500);
  --wa-notice-color-text-small: var(--wa-global-color-orange-600);
  --wa-notice-color-state-down: var(--wa-global-color-orange-700);
  --wa-notice-color-state-focus: var(--wa-global-color-orange-400);
  --wa-positive-color-background: var(--wa-color-green-700);
  --wa-positive-color-default: var(--wa-global-color-green-500);
  --wa-positive-color-dark: var(--wa-global-color-green-600);
  --wa-positive-color-border: var(--wa-global-color-green-400);
  --wa-positive-color-icon: var(--wa-global-color-green-600);
  --wa-positive-color-status: var(--wa-global-color-green-400);
  --wa-positive-color-text-large: var(--wa-global-color-green-500);
  --wa-positive-color-text-small: var(--wa-global-color-green-600);
  --wa-positive-color-state-down: var(--wa-global-color-green-700);
  --wa-positive-color-state-focus: var(--wa-global-color-green-400);
  --wa-informative-color-background: var(--wa-color-blue-700);
  --wa-informative-color-default: var(--wa-global-color-blue-500);
  --wa-informative-color-dark: var(--wa-global-color-blue-600);
  --wa-informative-color-border: var(--wa-global-color-blue-400);
  --wa-informative-color-icon: var(--wa-global-color-blue-600);
  --wa-informative-color-status: var(--wa-global-color-blue-400);
  --wa-informative-color-text-large: var(--wa-global-color-blue-500);
  --wa-informative-color-text-small: var(--wa-global-color-blue-600);
  --wa-informative-color-state-down: var(--wa-global-color-blue-700);
  --wa-informative-color-state-focus: var(--wa-global-color-blue-400);
  --wa-cta-color-background-default: var(--wa-color-blue-600);
  --wa-cta-color-background-hover: var(--wa-color-blue-700);
  --wa-cta-color-background-down: var(--wa-color-blue-800);
  --wa-cta-color-background-key-focus: var(--wa-color-blue-600);
  --wa-background-color-key-focus: var(--wa-color-blue-600);
  --wa-neutral-color-background: var(--wa-color-gray-700);
  --wa-presence-color-1: var(--wa-color-red-500);
  --wa-presence-color-2: var(--wa-color-orange-400);
  --wa-presence-color-3: var(--wa-color-yellow-400);
  --wa-presence-color-4: rgb(75, 204, 162);
  --wa-presence-color-5: rgb(0, 199, 255);
  --wa-presence-color-6: rgb(0, 140, 184);
  --wa-presence-color-7: rgb(126, 75, 243);
  --wa-presence-color-8: var(--wa-color-fuchsia-600);

  /* wa-dimensionGlobals.css */
  --wa-size-0: 0px;
  --wa-size-10: 1px;
  --wa-size-25: 2px;
  --wa-size-50: 4px;
  --wa-size-40: 3px;
  --wa-size-65: 5px;
  --wa-size-100: 8px;
  --wa-size-115: 9px;
  --wa-size-125: 10px;
  --wa-size-130: 11px;
  --wa-size-150: 12px;
  --wa-size-160: 13px;
  --wa-size-175: 14px;
  --wa-size-200: 16px;
  --wa-size-225: 18px;
  --wa-size-250: 20px;
  --wa-size-300: 24px;
  --wa-size-400: 32px;
  --wa-size-450: 36px;
  --wa-size-500: 40px;
  --wa-size-550: 44px;
  --wa-size-600: 48px;
  --wa-size-700: 56px;
  --wa-size-800: 64px;
  --wa-size-900: 72px;
  --wa-size-1000: 80px;
  --wa-size-1200: 96px;
  --wa-size-1700: 136px;
  --wa-size-2400: 192px;
  --wa-size-2600: 208px;
  --wa-size-3400: 272px;
  --wa-size-3600: 288px;
  --wa-size-4600: 368px;
  --wa-size-5000: 400px;
  --wa-size-6000: 480px;
  --wa-font-size-50: 11px;
  --wa-font-size-75: 12px;
  --wa-font-size-100: 14px;
  --wa-font-size-150: 15px;
  --wa-font-size-200: 16px;
  --wa-font-size-300: 18px;
  --wa-font-size-400: 20px;
  --wa-font-size-500: 22px;
  --wa-font-size-600: 25px;
  --wa-font-size-700: 28px;
  --wa-font-size-800: 32px;
  --wa-font-size-900: 36px;
  --wa-font-size-1000: 40px;
  --wa-percent-50: 50%;
  --wa-percent-100: 100%;
  --wa-breakpoint-xsmall: 304px;
  --wa-breakpoint-small: 768px;
  --wa-breakpoint-medium: 1280px;
  --wa-breakpoint-large: 1768px;
  --wa-breakpoint-xlarge: 2160px;
  --wa-grid-columns: 12;
  --wa-grid-fluid-width: 100%;
  --wa-grid-fixed-max-width: 1280px;

  /* wa-fontGlobals.css */
  --wa-font-family-base: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --wa-font-family-serif: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --wa-font-family-code: "Source Code Pro", Monaco, monospace;
  --wa-font-weight-thin: 100;
  --wa-font-weight-ultra-light: 200;
  --wa-font-weight-light: 300;
  --wa-font-weight-regular: 400;
  --wa-font-weight-medium: 500;
  --wa-font-weight-semi-bold: 600;
  --wa-font-weight-bold: 700;
  --wa-font-weight-extra-bold: 800;
  --wa-font-weight-black: 900;
  --wa-font-style-regular: normal;
  --wa-font-style-italic: italic;
  --wa-font-letter-spacing-none: 0;
  --wa-font-letter-spacing-small: 0.0125em;
  --wa-font-letter-spacing-han: 0.05em;
  --wa-font-letter-spacing-medium: 0.06em;
  --wa-font-line-height-large: 1.7;
  --wa-font-line-height-medium: 1.5;
  --wa-font-line-height-small: 1.3;
  --wa-font-multiplier-25: 0.25em;
  --wa-font-multiplier-75: 0.75em;

  /* wa-staticAliases.css */
  --wa-border-size-thin: var(--wa-size-10);
  --wa-border-size-thick: var(--wa-size-25);
  --wa-border-size-thicker: var(--wa-size-50);
  --wa-border-size-thickest: var(--wa-size-100);
  --wa-border-offset-thin: var(--wa-size-25);
  --wa-border-offset-thick: var(--wa-size-50);
  --wa-border-offset-thicker: var(--wa-size-100);
  --wa-border-offset-thickest: var(--wa-size-200);
  --wa-grid-baseline: var(--wa-size-100);
  --wa-grid-gutter-xsmall: var(--wa-size-200);
  --wa-grid-gutter-small: var(--wa-size-300);
  --wa-grid-gutter-medium: var(--wa-size-400);
  --wa-grid-gutter-large: var(--wa-size-500);
  --wa-grid-gutter-xlarge: var(--wa-size-600);
  --wa-grid-margin-xsmall: var(--wa-size-200);
  --wa-grid-margin-small: var(--wa-size-300);
  --wa-grid-margin-medium: var(--wa-size-400);
  --wa-grid-margin-large: var(--wa-size-500);
  --wa-grid-margin-xlarge: var(--wa-size-600);
  --wa-grid-layout-region-margin-bottom-xsmall: var(--wa-size-200);
  --wa-grid-layout-region-margin-bottom-small: var(--wa-size-300);
  --wa-grid-layout-region-margin-bottom-medium: var(--wa-size-400);
  --wa-grid-layout-region-margin-bottom-large: var(--wa-size-500);
  --wa-grid-layout-region-margin-bottom-xlarge: var(--wa-size-600);
  --wa-radial-reaction-size-default: var(--wa-size-550);
  --wa-font-family-ar: myriad-arabic, adobe-clean, "Source Sans Pro", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande",
    sans-serif;
  --wa-font-family-he: myriad-hebrew, adobe-clean, "Source Sans Pro", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande",
    sans-serif;
  --wa-font-family-zh: adobe-clean-han-traditional, source-han-traditional, "MingLiu",
    "Heiti TC Light", "sans-serif";
  --wa-font-family-zhhans: adobe-clean-han-simplified-c, source-han-simplified-c, "SimSun",
    "Heiti SC Light", "sans-serif";
  --wa-font-family-ko: adobe-clean-han-korean, source-han-korean, "Malgun Gothic",
    "Apple Gothic", "sans-serif";
  --wa-font-family-ja: adobe-clean-han-japanese, source-han-japanese, "Yu Gothic",
    "\30E1 \30A4 \30EA \30AA", "\30D2 \30E9 \30AE \30CE \89D2 \30B4  Pro W3",
    "Hiragino Kaku Gothic Pro W3", "Osaka", "\FF2D \FF33 \FF30 \30B4 \30B7 \30C3 \30AF",
    "MS PGothic", "sans-serif";
  --wa-font-family-condensed: adobe-clean-han-traditional, source-han-traditional, "MingLiu",
    "Heiti TC Light", adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --wa-line-height-body: var(--wa-font-line-height-medium);
  --wa-line-height-title: var(--wa-font-line-height-small);
  --wa-body-han-text-line-height: var(--wa-font-line-height-large);
  --wa-body-text-font-family: var(--wa-font-family-base);
  --wa-body-text-line-height: var(--wa-font-line-height-medium);
  --wa-body-text-font-weight: var(--wa-font-weight-regular);
  --wa-body-text-font-weight-strong: var(--wa-font-weight-bold);
  --wa-button-text-line-height: var(--wa-font-line-height-small);
  --wa-heading-han-text-line-height: var(--wa-font-line-height-medium);
  --wa-heading-text-line-height: var(--wa-font-line-height-small);
  --wa-heading-text-font-weight-regular: var(--wa-font-weight-bold);
  --wa-heading-text-font-weight-regular-strong: var(--wa-font-weight-black);
  --wa-heading-text-font-weight-quiet: var(--wa-font-weight-light);
  --wa-heading-text-font-weight-quiet-strong: var(--wa-font-weight-bold);
  --wa-heading-text-font-weight-strong: var(--wa-font-weight-black);
  --wa-heading-text-font-weight-strong-strong: var(--wa-font-weight-black);
  --wa-subheading-text-font-weight: var(--wa-font-weight-bold);
  --wa-subheading-text-font-weight-strong: var(--wa-font-weight-black);
  --wa-detail-text-font-weight: var(--wa-font-weight-bold);
  --wa-detail-text-font-weight-light: var(--wa-font-weight-regular);
  --wa-detail-text-font-weight-strong: var(--wa-font-weight-black);
  --wa-serif-text-font-family: var(--wa-font-family-serif);
  --wa-article-text-font-family: var(--wa-font-family-serif);
  --wa-article-body-text-font-weight: var(--wa-font-weight-regular);
  --wa-article-body-text-font-weight-strong: var(--wa-font-weight-black);
  --wa-article-heading-text-font-weight: var(--wa-font-weight-bold);
  --wa-article-heading-text-font-weight-strong: var(--wa-font-weight-black);
  --wa-article-heading-text-font-weight-quiet: var(--wa-font-weight-regular);
  --wa-article-heading-text-font-weight-quiet-strong: var(--wa-font-weight-bold);
  --wa-article-subheading-text-font-weight: var(--wa-font-weight-bold);
  --wa-article-subheading-text-font-weight-strong: var(--wa-font-weight-black);
  --wa-article-detail-text-font-weight: var(--wa-font-weight-regular);
  --wa-article-detail-text-font-weight-strong: var(--wa-font-weight-bold);
  --wa-code-text-font-family: var(--wa-font-family-code);
  --wa-han-heading-text-font-weight-regular: var(--wa-font-weight-bold);
  --wa-han-heading-text-font-weight-regular-emphasis: var(--wa-font-weight-extra-bold);
  --wa-han-heading-text-font-weight-regular-strong: var(--wa-font-weight-black);
  --wa-han-heading-text-font-weight-quiet: var(--wa-font-weight-light);
  --wa-han-heading-text-font-weight-quiet-emphasis: var(--wa-font-weight-regular);
  --wa-han-heading-text-font-weight-quiet-strong: var(--wa-font-weight-bold);
  --wa-han-heading-text-font-weight-light: var(--wa-font-weight-light);
  --wa-han-heading-text-font-weight-light-emphasis: var(--wa-font-weight-regular);
  --wa-han-heading-text-font-weight-light-strong: var(--wa-font-weight-bold);
  --wa-han-heading-text-font-weight-strong: var(--wa-font-weight-black);
  --wa-han-heading-text-font-weight-strong-emphasis: var(--wa-font-weight-black);
  --wa-han-heading-text-font-weight-strong-strong: var(--wa-font-weight-black);
  --wa-han-heading-text-font-weight-heavy: var(--wa-font-weight-black);
  --wa-han-heading-text-font-weight-heavy-emphasis: var(--wa-font-weight-black);
  --wa-han-heading-text-font-weight-heavy-strong: var(--wa-font-weight-black);
  --wa-han-body-text-font-weight-regular: var(--wa-font-weight-regular);
  --wa-han-body-text-font-weight-emphasis: var(--wa-font-weight-bold);
  --wa-han-body-text-font-weight-strong: var(--wa-font-weight-black);
  --wa-han-subheading-text-font-weight-regular: var(--wa-font-weight-bold);
  --wa-han-subheading-text-font-weight-emphasis: var(--wa-font-weight-extra-bold);
  --wa-han-subheading-text-font-weight-strong: var(--wa-font-weight-black);
  --wa-han-detail-text-font-weight: var(--wa-font-weight-regular);
  --wa-han-detail-text-font-weight-emphasis: var(--wa-font-weight-bold);
  --wa-han-detail-text-font-weight-strong: var(--wa-font-weight-black);
  --wa-code-text-font-weight-regular: var(--wa-font-weight-regular);
  --wa-code-text-font-weight-strong: var(--wa-font-weight-bold);
  --wa-code-text-line-height: var(--wa-font-line-height-medium);
  --wa-heading-margin-bottom: var(--wa-font-multiplier-25);
  --wa-body-margin-bottom: var(--wa-font-multiplier-75);
  --wa-focus-ring-gap: var(--wa-size-25);
  --wa-focus-ring-size: var(--wa-size-25);
  --wa-loupe-entry-animation-duration: var(--wa-global-animation-duration-300);
  --wa-loupe-exit-animation-duration: var(--wa-global-animation-duration-300);
}

.wa--medium,
.wa--large {
  /* wa-dimensionAliases.css */
  --wa-dropshadow-blur: var(--wa-global-dimension-size-50);
  --wa-dropshadow-offset-y: var(--wa-global-dimension-size-10);
  --wa-font-size-default: var(--wa-global-dimension-font-size-100);
  --wa-line-height-small: var(--wa-global-dimension-size-200);
  --wa-line-height-medium: var(--wa-global-dimension-size-250);
  --wa-line-height-large: var(--wa-global-dimension-size-300);
  --wa-line-height-xlarge: var(--wa-global-dimension-size-400);
  --wa-line-height-xxlarge: var(--wa-global-dimension-size-600);
  --wa-layout-label-gap-size: var(--wa-global-dimension-size-100);
  --wa-pill-button-text-size: var(--wa-global-dimension-font-size-100);
  --wa-pill-button-text-baseline: var(--wa-size-150);
  --wa-border-radius-xsmall: var(--wa-global-dimension-size-10);
  --wa-border-radius-small: var(--wa-global-dimension-size-25);
  --wa-border-radius-regular: var(--wa-global-dimension-size-50);
  --wa-border-radius-medium: var(--wa-global-dimension-size-100);
  --wa-border-radius-large: var(--wa-global-dimension-size-200);
  --wa-single-line-height: var(--wa-global-dimension-size-400);
  --wa-single-line-width: var(--wa-global-dimension-size-2400);
  --wa-workflow-icon-size: var(--wa-global-dimension-size-225);
  --wa-heading-display1-text-size: var(--wa-global-dimension-font-size-1300);
  --wa-heading-xxxl-text-size: var(--wa-global-dimension-font-size-1300);
  --wa-heading-han-display1-text-size: var(--wa-global-dimension-font-size-1300);
  --wa-heading-han-xxxl-text-size: var(--wa-global-dimension-font-size-1300);
  --wa-heading-han-display1-margin-top: var(--wa-global-dimension-font-size-1200);
  --wa-heading-han-xxxl-margin-top: var(--wa-global-dimension-font-size-1200);
  --wa-heading-display1-margin-top: var(--wa-global-dimension-font-size-1200);
  --wa-heading-xxxl-margin-top: var(--wa-global-dimension-font-size-1200);
  --wa-heading-display2-text-size: var(--wa-global-dimension-font-size-1100);
  --wa-heading-xxl-text-size: var(--wa-global-dimension-font-size-1100);
  --wa-heading-display2-margin-top: var(--wa-global-dimension-font-size-900);
  --wa-heading-xxl-margin-top: var(--wa-global-dimension-font-size-900);
  --wa-heading-han-display2-text-size: var(--wa-global-dimension-font-size-900);
  --wa-heading-han-xxl-text-size: var(--wa-global-dimension-font-size-900);
  --wa-heading-han-display2-margin-top: var(--wa-global-dimension-font-size-800);
  --wa-heading-han-xxl-margin-top: var(--wa-global-dimension-font-size-800);
  --wa-heading1-text-size: var(--wa-global-dimension-font-size-900);
  --wa-heading-xl-text-size: var(--wa-global-dimension-font-size-900);
  --wa-heading1-margin-top: var(--wa-global-dimension-font-size-800);
  --wa-heading-xl-margin-top: var(--wa-global-dimension-font-size-800);
  --wa-heading1-han-text-size: var(--wa-global-dimension-font-size-800);
  --wa-heading-han-xl-text-size: var(--wa-global-dimension-font-size-800);
  --wa-heading1-han-margin-top: var(--wa-global-dimension-font-size-700);
  --wa-heading-han-xl-margin-top: var(--wa-global-dimension-font-size-700);
  --wa-heading2-text-size: var(--wa-global-dimension-font-size-700);
  --wa-heading-l-text-size: var(--wa-global-dimension-font-size-700);
  --wa-heading2-margin-top: var(--wa-global-dimension-font-size-600);
  --wa-heading-l-margin-top: var(--wa-global-dimension-font-size-600);
  --wa-heading2-han-text-size: var(--wa-global-dimension-font-size-600);
  --wa-heading-han-l-text-size: var(--wa-global-dimension-font-size-600);
  --wa-heading2-han-margin-top: var(--wa-global-dimension-font-size-500);
  --wa-heading-han-l-margin-top: var(--wa-global-dimension-font-size-500);
  --wa-heading3-text-size: var(--wa-global-dimension-font-size-500);
  --wa-heading-m-text-size: var(--wa-global-dimension-font-size-500);
  --wa-heading3-margin-top: var(--wa-global-dimension-font-size-400);
  --wa-heading-m-margin-top: var(--wa-global-dimension-font-size-400);
  --wa-heading3-han-text-size: var(--wa-global-dimension-font-size-400);
  --wa-heading-han-m-text-size: var(--wa-global-dimension-font-size-400);
  --wa-heading3-han-margin-top: var(--wa-global-dimension-font-size-300);
  --wa-heading-han-m-margin-top: var(--wa-global-dimension-font-size-300);
  --wa-heading4-text-size: var(--wa-global-dimension-font-size-300);
  --wa-heading-s-text-size: var(--wa-global-dimension-font-size-300);
  --wa-heading4-margin-top: var(--wa-global-dimension-font-size-200);
  --wa-heading-s-margin-top: var(--wa-global-dimension-font-size-200);
  --wa-heading5-text-size: var(--wa-global-dimension-font-size-200);
  --wa-heading-xs-text-size: var(--wa-global-dimension-font-size-200);
  --wa-heading5-margin-top: var(--wa-global-dimension-font-size-100);
  --wa-heading-xs-margin-top: var(--wa-global-dimension-font-size-100);
  --wa-heading6-text-size: var(--wa-global-dimension-font-size-100);
  --wa-heading-xxs-text-size: var(--wa-global-dimension-font-size-100);
  --wa-heading6-margin-top: var(--wa-global-dimension-font-size-75);
  --wa-heading-xxs-margin-top: var(--wa-global-dimension-font-size-75);
  --wa-avatar-size-50: var(--wa-global-dimension-size-200);
  --wa-avatar-size-75: var(--wa-global-dimension-size-225);
  --wa-avatar-size-200: var(--wa-global-dimension-size-275);
  --wa-avatar-size-300: var(--wa-global-dimension-size-325);
  --wa-avatar-size-500: var(--wa-global-dimension-size-400);
  --wa-avatar-size-700: var(--wa-global-dimension-size-500);
}

.wa--darkest,
.wa--dark,
.wa--light,
.wa--lightest {
  /* wa-colorAliases.css */
  --wa-background-color-default: var(--wa-global-color-gray-100);
  --wa-background-color-transparent: transparent;
  --wa-background-color-label-gray: rgb(112, 112, 112);
  --wa-background-color-quickactions-overlay: rgba(0, 0, 0, 0.2);
  --wa-placeholder-text-color: var(--wa-global-color-gray-600);
  --wa-placeholder-text-color-hover: var(--wa-global-color-gray-900);
  --wa-placeholder-text-color-down: var(--wa-global-color-gray-900);
  --wa-placeholder-text-color-selected: var(--wa-global-color-gray-800);
  --wa-label-text-color: var(--wa-global-color-gray-700);
  --wa-text-color: var(--wa-global-color-gray-800);
  --wa-text-color-hover: var(--wa-global-color-gray-900);
  --wa-text-color-down: var(--wa-global-color-gray-900);
  --wa-text-color-key-focus: var(--wa-global-color-blue-600);
  --wa-text-color-mouse-focus: var(--wa-global-color-blue-600);
  --wa-text-color-disabled: var(--wa-global-color-gray-500);
  --wa-text-color-invalid: var(--wa-global-color-red-500);
  --wa-text-color-selected: var(--wa-global-color-blue-600);
  --wa-text-color-selected-neutral: var(--wa-global-color-gray-900);
  --wa-title-text-color: var(--wa-global-color-gray-900);
  --wa-heading-text-color: var(--wa-global-color-gray-900);
  --wa-border-color: var(--wa-global-color-gray-400);
  --wa-border-color-hover: var(--wa-global-color-gray-500);
  --wa-border-color-down: var(--wa-global-color-gray-500);
  --wa-border-color-focus: var(--wa-global-color-blue-400);
  --wa-border-color-mouse-focus: var(--wa-global-color-blue-500);
  --wa-border-color-disabled: var(--wa-global-color-gray-200);
  --wa-border-color-extralight: var(--wa-global-color-gray-100);
  --wa-border-color-light: var(--wa-global-color-gray-200);
  --wa-border-color-mid: var(--wa-global-color-gray-300);
  --wa-border-color-dark: var(--wa-global-color-gray-400);
  --wa-border-color-transparent: transparent;
  --wa-border-color-translucent-dark: rgba(0, 0, 0, 0.05);
  --wa-border-color-translucent-darker: rgba(0, 0, 0, 0.1);
  --wa-focus-color: var(--wa-global-color-blue-400);
  --wa-focus-ring-color: var(--wa-focus-color);
  --wa-track-color-default: var(--wa-global-color-gray-300);
  --wa-track-color-disabled: var(--wa-global-color-gray-300);
  --wa-track-color-over-background: rgba(255, 255, 255, 0.2);
  --wa-icon-color: var(--wa-global-color-gray-700);
  --wa-icon-color-over-background: var(--wa-color-white);
  --wa-icon-color-hover: var(--wa-global-color-gray-900);
  --wa-icon-color-down: var(--wa-global-color-gray-900);
  --wa-icon-color-focus: var(--wa-global-color-gray-900);
  --wa-icon-color-disabled: var(--wa-global-color-gray-400);
  --wa-icon-color-selected-neutral: var(--wa-global-color-gray-900);
  --wa-icon-color-selected: var(--wa-global-color-blue-500);
  --wa-icon-color-selected-hover: var(--wa-global-color-blue-600);
  --wa-icon-color-selected-down: var(--wa-global-color-blue-700);
  --wa-icon-color-selected-focus: var(--wa-global-color-blue-600);
  --wa-icon-color-error: var(--wa-global-color-red-400);
  --wa-toolbar-background-color: var(--wa-global-color-gray-100);
  --wa-colorhandle-outer-border-color: rgba(0, 0, 0, 0.42);
  --wa-categorical-color-1: var(--wa-color-seafoam-200);
  --wa-categorical-color-2: var(--wa-color-indigo-700);
  --wa-categorical-color-3: var(--wa-color-orange-500);
  --wa-categorical-color-4: var(--wa-color-magenta-500);
  --wa-categorical-color-5: var(--wa-color-indigo-200);
  --wa-categorical-color-6: var(--wa-color-celery-200);
  --wa-categorical-color-7: var(--wa-color-blue-500);
  --wa-categorical-color-8: var(--wa-color-purple-800);
  --wa-categorical-color-9: var(--wa-color-yellow-500);
  --wa-categorical-color-10: var(--wa-color-orange-700);
  --wa-categorical-color-11: var(--wa-color-green-600);
  --wa-categorical-color-12: var(--wa-color-chartreuse-300);
  --wa-categorical-color-13: var(--wa-color-blue-200);
  --wa-categorical-color-14: var(--wa-color-fuchsia-500);
  --wa-categorical-color-15: var(--wa-color-magenta-200);
  --wa-categorical-color-16: var(--wa-color-yellow-200);
}
