/*
Copyright 2021 Watheia Labs, LLC. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import "../commons/index.css";

:root {
  --wa-calendar-border-radius-reset: 0;
  --wa-calendar-border-width-reset: 0;
  --wa-calendar-margin-y: 24px;
  --wa-calendar-margin-x: 32px;
  --wa-calendar-width: calc(
    (var(--wa-calendar-day-width) + var(--wa-calendar-day-padding) * 2) * 7
  );
  --wa-calendar-button-gap: var(--wa-global-dimension-size-40);
  --wa-calendar-title-margin-x: var(--wa-global-dimension-size-75);
}

.wa-Calendar {
  display: block;
  touch-action: none;
}

.wa-Calendar--padded {
  margin: var(--wa-calendar-margin-x) var(--wa-calendar-margin-y);
}

.wa-Calendar-header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 100%;
  gap: var(--wa-global-dimension-size-300);
}

.wa-Calendar-monthHeader {
  display: grid;
  grid-template-areas: "prev title next";
  grid-template-columns: minmax(auto, 1fr) auto minmax(auto, 1fr);
  align-content: start;
  width: var(--wa-calendar-width);
  padding: 0 var(--wa-calendar-button-gap);
  box-sizing: border-box;
}

.wa-Calendar-title {
  font-size: var(--wa-calendar-title-text-size);
  font-weight: bold;

  line-height: var(--wa-calendar-title-height);
  margin: 0 var(--wa-calendar-title-margin-x);
  grid-area: title;

  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wa-Calendar-prevMonth {
  grid-area: prev;
  justify-self: start;
}

.wa-Calendar-nextMonth {
  grid-area: next;
  justify-self: end;
}

.wa-Calendar-months {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: var(--wa-global-dimension-size-300);
  align-items: start;
}

.wa-Calendar-dayOfWeek {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  width: var(--wa-calendar-day-width);

  border-bottom: none !important; /* override abbr styling from normalize.module.css */

  font-size: var(--wa-calendar-day-title-text-size);
  font-weight: var(--wa-calendar-day-title-text-font-weight);
  text-transform: uppercase;
  text-decoration: none !important; /* override abbr styling from normalize.module.css */

  cursor: default;

  &[title] {
    /* Normalize abbr[title] */
    /* Remove the bottom border in Chrome 57- and Firefox 39-. */
    border-bottom: none;

    /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
    text-decoration: underline;
    text-decoration: underline dotted;
  }
}

.wa-Calendar-body {
  outline: none;
}

.wa-Calendar-table {
  table-layout: fixed;
  width: var(--wa-calendar-width);

  border-collapse: collapse;
  border-spacing: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wa-Calendar-tableCell {
  text-align: center;
  padding: 0;
  position: relative;
  box-sizing: content-box;
  height: var(--wa-calendar-day-height);
  width: var(--wa-calendar-day-width);
  padding: var(--wa-calendar-day-padding);

  &:focus {
    outline: 0;
  }
}

.wa-Calendar-date {
  /* This is fun, but we need to trick the table so it doesn't size itself in a weird way */
  position: absolute;
  display: block;
  top: 0;
  left: 0;

  box-sizing: border-box;

  height: var(--wa-calendar-day-height);
  width: var(--wa-calendar-day-width);
  margin: var(--wa-calendar-day-padding);

  border-radius: var(--wa-calendar-day-width);

  font-size: var(--wa-calendar-day-text-size);
  line-height: var(--wa-calendar-day-height);
  white-space: nowrap;

  cursor: default;

  transition: background var(--wa-global-animation-duration-100) ease-in-out,
    color var(--wa-global-animation-duration-100) ease-in-out,
    border-color var(--wa-global-animation-duration-100) ease-in-out;

  &:focus {
    outline: 0;
  }

  &:lang(ja),
  &:lang(zh),
  &:lang(ko) {
    font-size: var(--wa-calendar-day-text-size-han);
  }

  &.is-disabled {
    cursor: default;
    pointer-events: none;
  }

  &.is-outsideMonth {
    visibility: hidden;
  }

  /* focus ring */
  &:before {
    border-radius: calc(var(--wa-calendar-day-width) + var(--wa-alias-focus-ring-gap));
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - calc(var(--wa-calendar-day-width) / 2));
    left: calc(50% - calc(var(--wa-calendar-day-width) / 2));
    width: calc(var(--wa-calendar-day-width) + var(--wa-alias-focus-ring-gap) * 2);
    height: calc(var(--wa-calendar-day-height) + var(--wa-alias-focus-ring-gap) * 2);
    margin: 0;
    transform: translateX(0); /* Forces FF to render on the pixel grid */

    transition: box-shadow var(--wa-global-animation-duration-100) ease-out,
      margin var(--wa-global-animation-duration-100) ease-out;
  }

  &.is-focused {
    &:before {
      margin: calc(var(--wa-alias-focus-ring-gap) * -1);
    }
  }

  &.is-range-selection {
    /* overrides to make the cells appear connected */
    margin: var(--wa-calendar-day-padding) 0;
    border-width: var(--wa-calendar-border-width-reset);
    line-height: var(--wa-calendar-day-height);
    border-radius: var(--wa-calendar-border-radius-reset);

    /* Todo: Calculate this */
    width: calc(var(--wa-calendar-day-width) + calc(var(--wa-calendar-day-padding) * 2));

    &.is-range-start,
    &.is-range-end,
    &.is-selection-start,
    &.is-selection-end {
      width: calc(var(--wa-calendar-day-width) + var(--wa-calendar-day-padding));
    }

    /* hover and selected states */
    &:after {
      position: absolute;
      top: calc(50% - calc(var(--wa-calendar-day-width) / 2));
      left: calc(50% - calc(var(--wa-calendar-day-width) / 2));

      display: block;

      height: var(--wa-calendar-day-height);
      width: var(--wa-calendar-day-width);

      border-radius: var(--wa-calendar-day-width);

      content: "";
      z-index: -1;
    }

    &.is-range-start,
    &.is-selection-start {
      padding-inline-end: var(--wa-calendar-day-padding);
      margin-inline-start: var(--wa-calendar-day-padding);
      border-start-start-radius: var(--wa-calendar-day-width);
      border-end-start-radius: var(--wa-calendar-day-width);

      &:before,
      &:after {
        inset-inline-start: 0;
      }
    }

    &.is-range-end,
    &.is-selection-end {
      padding-inline-start: var(--wa-calendar-day-padding);
      margin-inline-end: var(--wa-calendar-day-padding);
      border-start-end-radius: var(--wa-calendar-day-width);
      border-end-end-radius: var(--wa-calendar-day-width);

      &:before,
      &:after {
        inset-inline-start: auto;
        inset-inline-end: 0;
      }
    }

    &.is-selection-start.is-selection-end,
    &.is-selection-start.is-range-end,
    &.is-selection-end.is-range-start,
    &.is-range-start.is-range-end {
      width: var(--wa-calendar-day-width);
      border-radius: var(--wa-calendar-day-width);
    }
  }
}

.wa-Calendar-body.is-range-selecting .wa-Calendar-date {
  transition: none;
}
