/*
 * Copyright 2021 Watheia Labs, LLC. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.wa {
  /* spectrum-animationGlobals.css */
  --global-animation-duration-0: 0ms;
  --global-animation-duration-100: 130ms;
  --global-animation-duration-200: 160ms;
  --global-animation-duration-300: 190ms;
  --global-animation-duration-400: 220ms;
  --global-animation-duration-500: 250ms;
  --global-animation-duration-600: 300ms;
  --global-animation-duration-700: 350ms;
  --global-animation-duration-800: 400ms;
  --global-animation-duration-900: 450ms;
  --global-animation-duration-1000: 500ms;
  --global-animation-duration-2000: 1000ms;
  --global-animation-duration-4000: 2000ms;
  --global-animation-ease-in-out: cubic-bezier(0.45, 0, 0.4, 1);
  --global-animation-ease-in: cubic-bezier(0.5, 0, 1, 1);
  --global-animation-ease-out: cubic-bezier(0, 0, 0.4, 1);
  --global-animation-linear: cubic-bezier(0, 0, 1, 1);

  /* spectrum-colorGlobals.css */
  --global-color-status: Verified;
  --global-color-version: 5.1;
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --blue: rgb(20, 115, 230);
  --gray-50: rgb(255, 255, 255);
  --gray-75: rgb(255, 255, 255);
  --gray-100: rgb(255, 255, 255);
  --gray-200: rgb(244, 244, 244);
  --gray-300: rgb(234, 234, 234);
  --gray-400: rgb(211, 211, 211);
  --gray-500: rgb(188, 188, 188);
  --gray-600: rgb(149, 149, 149);
  --gray-700: rgb(116, 116, 116);
  --gray-800: rgb(80, 80, 80);
  --gray-900: rgb(50, 50, 50);
  --blue-200: rgb(90, 169, 250);
  --blue-300: rgb(75, 156, 245);
  --blue-400: rgb(55, 142, 240);
  --blue-500: rgb(38, 128, 235);
  --blue-600: rgb(20, 115, 230);
  --blue-700: rgb(13, 102, 208);
  --blue-800: rgb(9, 90, 186);
  --red-400: rgb(236, 91, 98);
  --red-500: rgb(227, 72, 80);
  --red-600: rgb(215, 55, 63);
  --red-700: rgb(201, 37, 45);
  --orange-400: rgb(242, 148, 35);
  --orange-500: rgb(230, 134, 25);
  --orange-600: rgb(218, 123, 17);
  --orange-700: rgb(203, 111, 16);
  --green-400: rgb(51, 171, 132);
  --green-500: rgb(45, 157, 120);
  --green-600: rgb(38, 142, 108);
  --green-700: rgb(18, 128, 92);
  --celery-200: rgb(88, 224, 111);
  --celery-300: rgb(81, 210, 103);
  --celery-400: rgb(75, 195, 95);
  --celery-500: rgb(68, 181, 86);
  --celery-600: rgb(61, 167, 78);
  --celery-700: rgb(55, 153, 71);
  --chartreuse-300: rgb(155, 236, 84);
  --chartreuse-400: rgb(142, 222, 73);
  --chartreuse-500: rgb(133, 208, 68);
  --chartreuse-600: rgb(124, 195, 63);
  --chartreuse-700: rgb(115, 181, 58);
  --yellow-200: rgb(255, 226, 46);
  --yellow-300: rgb(250, 217, 0);
  --yellow-400: rgb(237, 204, 0);
  --yellow-500: rgb(223, 191, 0);
  --yellow-600: rgb(210, 178, 0);
  --yellow-700: rgb(196, 166, 0);
  --magenta-200: rgb(245, 107, 183);
  --magenta-300: rgb(236, 90, 170);
  --magenta-400: rgb(226, 73, 157);
  --magenta-500: rgb(216, 55, 144);
  --magenta-600: rgb(202, 41, 130);
  --magenta-700: rgb(188, 28, 116);
  --fuchsia-400: rgb(207, 62, 220);
  --fuchsia-500: rgb(192, 56, 204);
  --fuchsia-600: rgb(177, 48, 189);
  --fuchsia-700: rgb(162, 40, 173);
  --purple-400: rgb(157, 100, 225);
  --purple-500: rgb(146, 86, 217);
  --purple-600: rgb(134, 76, 204);
  --purple-700: rgb(122, 66, 191);
  --purple-800: rgb(111, 56, 177);
  --indigo-200: rgb(144, 144, 250);
  --indigo-300: rgb(130, 130, 246);
  --indigo-400: rgb(117, 117, 241);
  --indigo-500: rgb(103, 103, 236);
  --indigo-600: rgb(92, 92, 224);
  --indigo-700: rgb(81, 81, 211);
  --seafoam-200: rgb(38, 192, 199);
  --seafoam-300: rgb(35, 178, 184);
  --seafoam-400: rgb(32, 163, 168);
  --seafoam-500: rgb(27, 149, 154);
  --seafoam-600: rgb(22, 135, 140);
  --seafoam-700: rgb(15, 121, 125);
  --global-color-opacity-100: 1;
  --global-color-opacity-90: 0.9;
  --global-color-opacity-80: 0.8;
  --global-color-opacity-60: 0.6;
  --global-color-opacity-50: 0.5;
  --global-color-opacity-42: 0.42;
  --global-color-opacity-40: 0.4;
  --global-color-opacity-30: 0.3;
  --global-color-opacity-25: 0.25;
  --global-color-opacity-20: 0.2;
  --global-color-opacity-15: 0.15;
  --global-color-opacity-10: 0.1;
  --global-color-opacity-8: 0.08;
  --global-color-opacity-7: 0.07;
  --global-color-opacity-6: 0.06;
  --global-color-opacity-5: 0.05;
  --global-color-opacity-4: 0.04;

  /* spectrum-colorSemantics.css */
  --semantic-negative-color-background: var(--red-700);
  --semantic-negative-color-default: var(--global-color-red-500);
  --semantic-negative-color-state-hover: var(--global-color-red-600);
  --semantic-negative-color-dark: var(--global-color-red-600);
  --semantic-negative-color-border: var(--global-color-red-400);
  --semantic-negative-color-icon: var(--global-color-red-600);
  --semantic-negative-color-status: var(--global-color-red-400);
  --semantic-negative-color-text-large: var(--global-color-red-500);
  --semantic-negative-color-text-small: var(--global-color-red-600);
  --semantic-negative-color-state-down: var(--global-color-red-700);
  --semantic-negative-color-state-focus: var(--global-color-red-400);
  --semantic-notice-color-background: var(--orange-700);
  --semantic-notice-color-default: var(--global-color-orange-500);
  --semantic-notice-color-dark: var(--global-color-orange-600);
  --semantic-notice-color-border: var(--global-color-orange-400);
  --semantic-notice-color-icon: var(--global-color-orange-600);
  --semantic-notice-color-status: var(--global-color-orange-400);
  --semantic-notice-color-text-large: var(--global-color-orange-500);
  --semantic-notice-color-text-small: var(--global-color-orange-600);
  --semantic-notice-color-state-down: var(--global-color-orange-700);
  --semantic-notice-color-state-focus: var(--global-color-orange-400);
  --semantic-positive-color-background: var(--green-700);
  --semantic-positive-color-default: var(--global-color-green-500);
  --semantic-positive-color-dark: var(--global-color-green-600);
  --semantic-positive-color-border: var(--global-color-green-400);
  --semantic-positive-color-icon: var(--global-color-green-600);
  --semantic-positive-color-status: var(--global-color-green-400);
  --semantic-positive-color-text-large: var(--global-color-green-500);
  --semantic-positive-color-text-small: var(--global-color-green-600);
  --semantic-positive-color-state-down: var(--global-color-green-700);
  --semantic-positive-color-state-focus: var(--global-color-green-400);
  --semantic-informative-color-background: var(--blue-700);
  --semantic-informative-color-default: var(--global-color-blue-500);
  --semantic-informative-color-dark: var(--global-color-blue-600);
  --semantic-informative-color-border: var(--global-color-blue-400);
  --semantic-informative-color-icon: var(--global-color-blue-600);
  --semantic-informative-color-status: var(--global-color-blue-400);
  --semantic-informative-color-text-large: var(--global-color-blue-500);
  --semantic-informative-color-text-small: var(--global-color-blue-600);
  --semantic-informative-color-state-down: var(--global-color-blue-700);
  --semantic-informative-color-state-focus: var(--global-color-blue-400);
  --semantic-cta-color-background-default: var(--blue-600);
  --semantic-cta-color-background-hover: var(--blue-700);
  --semantic-cta-color-background-down: var(--blue-800);
  --semantic-cta-color-background-key-focus: var(--blue-600);
  --semantic-background-color-key-focus: var(--blue-600);
  --semantic-neutral-color-background: var(--gray-700);
  --semantic-presence-color-1: var(--red-500);
  --semantic-presence-color-2: var(--orange-400);
  --semantic-presence-color-3: var(--yellow-400);
  --semantic-presence-color-4: rgb(75, 204, 162);
  --semantic-presence-color-5: rgb(0, 199, 255);
  --semantic-presence-color-6: rgb(0, 140, 184);
  --semantic-presence-color-7: rgb(126, 75, 243);
  --semantic-presence-color-8: var(--fuchsia-600);

  /* spectrum-dimensionGlobals.css */
  --size-0: 0px;
  --size-10: 1px;
  --size-25: 2px;
  --size-50: 4px;
  --size-40: 3px;
  --size-65: 5px;
  --size-100: 8px;
  --size-115: 9px;
  --size-125: 10px;
  --size-130: 11px;
  --size-150: 12px;
  --size-160: 13px;
  --size-175: 14px;
  --size-200: 16px;
  --size-225: 18px;
  --size-250: 20px;
  --size-300: 24px;
  --size-400: 32px;
  --size-450: 36px;
  --size-500: 40px;
  --size-550: 44px;
  --size-600: 48px;
  --size-700: 56px;
  --size-800: 64px;
  --size-900: 72px;
  --size-1000: 80px;
  --size-1200: 96px;
  --size-1700: 136px;
  --size-2400: 192px;
  --size-2600: 208px;
  --size-3400: 272px;
  --size-3600: 288px;
  --size-4600: 368px;
  --size-5000: 400px;
  --size-6000: 480px;
  --font-size-50: 11px;
  --font-size-75: 12px;
  --font-size-100: 14px;
  --font-size-150: 15px;
  --font-size-200: 16px;
  --font-size-300: 18px;
  --font-size-400: 20px;
  --font-size-500: 22px;
  --font-size-600: 25px;
  --font-size-700: 28px;
  --font-size-800: 32px;
  --font-size-900: 36px;
  --font-size-1000: 40px;
  --percent-50: 50%;
  --percent-100: 100%;
  --breakpoint-xsmall: 304px;
  --breakpoint-small: 768px;
  --breakpoint-medium: 1280px;
  --breakpoint-large: 1768px;
  --breakpoint-xlarge: 2160px;
  --grid-columns: 12;
  --grid-fluid-width: 100%;
  --grid-fixed-max-width: 1280px;

  /* spectrum-fontGlobals.css */
  --global-font-family-base: adobe-clean, "Source Sans Pro", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande",
    sans-serif;
  --global-font-family-serif: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
  --global-font-family-code: "Source Code Pro", Monaco, monospace;
  --global-font-weight-thin: 100;
  --global-font-weight-ultra-light: 200;
  --global-font-weight-light: 300;
  --global-font-weight-regular: 400;
  --global-font-weight-medium: 500;
  --global-font-weight-semi-bold: 600;
  --global-font-weight-bold: 700;
  --global-font-weight-extra-bold: 800;
  --global-font-weight-black: 900;
  --global-font-style-regular: normal;
  --global-font-style-italic: italic;
  --global-font-letter-spacing-none: 0;
  --global-font-letter-spacing-small: 0.0125em;
  --global-font-letter-spacing-han: 0.05em;
  --global-font-letter-spacing-medium: 0.06em;
  --global-font-line-height-large: 1.7;
  --global-font-line-height-medium: 1.5;
  --global-font-line-height-small: 1.3;
  --global-font-multiplier-25: 0.25em;
  --global-font-multiplier-75: 0.75em;

  /* spectrum-staticAliases.css */
  --border-size-thin: var(--size-10);
  --border-size-thick: var(--size-25);
  --border-size-thicker: var(--size-50);
  --border-size-thickest: var(--size-100);
  --border-offset-thin: var(--size-25);
  --border-offset-thick: var(--size-50);
  --border-offset-thicker: var(--size-100);
  --border-offset-thickest: var(--size-200);
  --grid-baseline: var(--size-100);
  --grid-gutter-xsmall: var(--size-200);
  --grid-gutter-small: var(--size-300);
  --grid-gutter-medium: var(--size-400);
  --grid-gutter-large: var(--size-500);
  --grid-gutter-xlarge: var(--size-600);
  --grid-margin-xsmall: var(--size-200);
  --grid-margin-small: var(--size-300);
  --grid-margin-medium: var(--size-400);
  --grid-margin-large: var(--size-500);
  --grid-margin-xlarge: var(--size-600);
  --grid-layout-region-margin-bottom-xsmall: var(--size-200);
  --grid-layout-region-margin-bottom-small: var(--size-300);
  --grid-layout-region-margin-bottom-medium: var(--size-400);
  --grid-layout-region-margin-bottom-large: var(--size-500);
  --grid-layout-region-margin-bottom-xlarge: var(--size-600);
  --radial-reaction-size-default: var(--size-550);
  --font-family-ar: myriad-arabic, adobe-clean, "Source Sans Pro", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande",
    sans-serif;
  --font-family-he: myriad-hebrew, adobe-clean, "Source Sans Pro", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande",
    sans-serif;
  --font-family-zh: adobe-clean-han-traditional, source-han-traditional, "MingLiu",
    "Heiti TC Light", "sans-serif";
  --font-family-zhhans: adobe-clean-han-simplified-c, source-han-simplified-c, "SimSun",
    "Heiti SC Light", "sans-serif";
  --font-family-ko: adobe-clean-han-korean, source-han-korean, "Malgun Gothic",
    "Apple Gothic", "sans-serif";
  --font-family-ja: adobe-clean-han-japanese, source-han-japanese, "Yu Gothic",
    "\30E1 \30A4 \30EA \30AA", "\30D2 \30E9 \30AE \30CE \89D2 \30B4  Pro W3",
    "Hiragino Kaku Gothic Pro W3", "Osaka", "\FF2D \FF33 \FF30 \30B4 \30B7 \30C3 \30AF",
    "MS PGothic", "sans-serif";
  --font-family-condensed: adobe-clean-han-traditional, source-han-traditional, "MingLiu",
    "Heiti TC Light", adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --line-height-body: var(--global-font-line-height-medium);
  --line-height-title: var(--global-font-line-height-small);
  --body-han-text-line-height: var(--global-font-line-height-large);
  --body-text-font-family: var(--global-font-family-base);
  --body-text-line-height: var(--global-font-line-height-medium);
  --body-text-font-weight: var(--global-font-weight-regular);
  --body-text-font-weight-strong: var(--global-font-weight-bold);
  --button-text-line-height: var(--global-font-line-height-small);
  --heading-han-text-line-height: var(--global-font-line-height-medium);
  --heading-text-line-height: var(--global-font-line-height-small);
  --heading-text-font-weight-regular: var(--global-font-weight-bold);
  --heading-text-font-weight-regular-strong: var(--global-font-weight-black);
  --heading-text-font-weight-quiet: var(--global-font-weight-light);
  --heading-text-font-weight-quiet-strong: var(--global-font-weight-bold);
  --heading-text-font-weight-strong: var(--global-font-weight-black);
  --heading-text-font-weight-strong-strong: var(--global-font-weight-black);
  --subheading-text-font-weight: var(--global-font-weight-bold);
  --subheading-text-font-weight-strong: var(--global-font-weight-black);
  --detail-text-font-weight: var(--global-font-weight-bold);
  --detail-text-font-weight-light: var(--global-font-weight-regular);
  --detail-text-font-weight-strong: var(--global-font-weight-black);
  --serif-text-font-family: var(--global-font-family-serif);
  --article-text-font-family: var(--global-font-family-serif);
  --article-body-text-font-weight: var(--global-font-weight-regular);
  --article-body-text-font-weight-strong: var(--global-font-weight-black);
  --article-heading-text-font-weight: var(--global-font-weight-bold);
  --article-heading-text-font-weight-strong: var(--global-font-weight-black);
  --article-heading-text-font-weight-quiet: var(--global-font-weight-regular);
  --article-heading-text-font-weight-quiet-strong: var(--global-font-weight-bold);
  --article-subheading-text-font-weight: var(--global-font-weight-bold);
  --article-subheading-text-font-weight-strong: var(--global-font-weight-black);
  --article-detail-text-font-weight: var(--global-font-weight-regular);
  --article-detail-text-font-weight-strong: var(--global-font-weight-bold);
  --code-text-font-family: var(--global-font-family-code);
  --han-heading-text-font-weight-regular: var(--global-font-weight-bold);
  --han-heading-text-font-weight-regular-emphasis: var(--global-font-weight-extra-bold);
  --han-heading-text-font-weight-regular-strong: var(--global-font-weight-black);
  --han-heading-text-font-weight-quiet: var(--global-font-weight-light);
  --han-heading-text-font-weight-quiet-emphasis: var(--global-font-weight-regular);
  --han-heading-text-font-weight-quiet-strong: var(--global-font-weight-bold);
  --han-heading-text-font-weight-light: var(--global-font-weight-light);
  --han-heading-text-font-weight-light-emphasis: var(--global-font-weight-regular);
  --han-heading-text-font-weight-light-strong: var(--global-font-weight-bold);
  --han-heading-text-font-weight-strong: var(--global-font-weight-black);
  --han-heading-text-font-weight-strong-emphasis: var(--global-font-weight-black);
  --han-heading-text-font-weight-strong-strong: var(--global-font-weight-black);
  --han-heading-text-font-weight-heavy: var(--global-font-weight-black);
  --han-heading-text-font-weight-heavy-emphasis: var(--global-font-weight-black);
  --han-heading-text-font-weight-heavy-strong: var(--global-font-weight-black);
  --han-body-text-font-weight-regular: var(--global-font-weight-regular);
  --han-body-text-font-weight-emphasis: var(--global-font-weight-bold);
  --han-body-text-font-weight-strong: var(--global-font-weight-black);
  --han-subheading-text-font-weight-regular: var(--global-font-weight-bold);
  --han-subheading-text-font-weight-emphasis: var(--global-font-weight-extra-bold);
  --han-subheading-text-font-weight-strong: var(--global-font-weight-black);
  --han-detail-text-font-weight: var(--global-font-weight-regular);
  --han-detail-text-font-weight-emphasis: var(--global-font-weight-bold);
  --han-detail-text-font-weight-strong: var(--global-font-weight-black);
  --code-text-font-weight-regular: var(--global-font-weight-regular);
  --code-text-font-weight-strong: var(--global-font-weight-bold);
  --code-text-line-height: var(--global-font-line-height-medium);
  --heading-margin-bottom: var(--global-font-multiplier-25);
  --body-margin-bottom: var(--global-font-multiplier-75);
  --focus-ring-gap: var(--size-25);
  --focus-ring-size: var(--size-25);
  --loupe-entry-animation-duration: var(--global-animation-duration-300);
  --loupe-exit-animation-duration: var(--global-animation-duration-300);
}

.wa--medium,
.wa--large {
  /* spectrum-dimensionAliases.css */
  --dropshadow-blur: var(--global-dimension-size-50);
  --dropshadow-offset-y: var(--global-dimension-size-10);
  --font-size-default: var(--global-dimension-font-size-100);
  --line-height-small: var(--global-dimension-size-200);
  --line-height-medium: var(--global-dimension-size-250);
  --line-height-large: var(--global-dimension-size-300);
  --line-height-xlarge: var(--global-dimension-size-400);
  --line-height-xxlarge: var(--global-dimension-size-600);
  --layout-label-gap-size: var(--global-dimension-size-100);
  --pill-button-text-size: var(--global-dimension-font-size-100);
  --pill-button-text-baseline: var(--size-150);
  --border-radius-xsmall: var(--global-dimension-size-10);
  --border-radius-small: var(--global-dimension-size-25);
  --border-radius-regular: var(--global-dimension-size-50);
  --border-radius-medium: var(--global-dimension-size-100);
  --border-radius-large: var(--global-dimension-size-200);
  --single-line-height: var(--global-dimension-size-400);
  --single-line-width: var(--global-dimension-size-2400);
  --workflow-icon-size: var(--global-dimension-size-225);
  --heading-display1-text-size: var(--global-dimension-font-size-1300);
  --heading-xxxl-text-size: var(--global-dimension-font-size-1300);
  --heading-han-display1-text-size: var(--global-dimension-font-size-1300);
  --heading-han-xxxl-text-size: var(--global-dimension-font-size-1300);
  --heading-han-display1-margin-top: var(--global-dimension-font-size-1200);
  --heading-han-xxxl-margin-top: var(--global-dimension-font-size-1200);
  --heading-display1-margin-top: var(--global-dimension-font-size-1200);
  --heading-xxxl-margin-top: var(--global-dimension-font-size-1200);
  --heading-display2-text-size: var(--global-dimension-font-size-1100);
  --heading-xxl-text-size: var(--global-dimension-font-size-1100);
  --heading-display2-margin-top: var(--global-dimension-font-size-900);
  --heading-xxl-margin-top: var(--global-dimension-font-size-900);
  --heading-han-display2-text-size: var(--global-dimension-font-size-900);
  --heading-han-xxl-text-size: var(--global-dimension-font-size-900);
  --heading-han-display2-margin-top: var(--global-dimension-font-size-800);
  --heading-han-xxl-margin-top: var(--global-dimension-font-size-800);
  --heading1-text-size: var(--global-dimension-font-size-900);
  --heading-xl-text-size: var(--global-dimension-font-size-900);
  --heading1-margin-top: var(--global-dimension-font-size-800);
  --heading-xl-margin-top: var(--global-dimension-font-size-800);
  --heading1-han-text-size: var(--global-dimension-font-size-800);
  --heading-han-xl-text-size: var(--global-dimension-font-size-800);
  --heading1-han-margin-top: var(--global-dimension-font-size-700);
  --heading-han-xl-margin-top: var(--global-dimension-font-size-700);
  --heading2-text-size: var(--global-dimension-font-size-700);
  --heading-l-text-size: var(--global-dimension-font-size-700);
  --heading2-margin-top: var(--global-dimension-font-size-600);
  --heading-l-margin-top: var(--global-dimension-font-size-600);
  --heading2-han-text-size: var(--global-dimension-font-size-600);
  --heading-han-l-text-size: var(--global-dimension-font-size-600);
  --heading2-han-margin-top: var(--global-dimension-font-size-500);
  --heading-han-l-margin-top: var(--global-dimension-font-size-500);
  --heading3-text-size: var(--global-dimension-font-size-500);
  --heading-m-text-size: var(--global-dimension-font-size-500);
  --heading3-margin-top: var(--global-dimension-font-size-400);
  --heading-m-margin-top: var(--global-dimension-font-size-400);
  --heading3-han-text-size: var(--global-dimension-font-size-400);
  --heading-han-m-text-size: var(--global-dimension-font-size-400);
  --heading3-han-margin-top: var(--global-dimension-font-size-300);
  --heading-han-m-margin-top: var(--global-dimension-font-size-300);
  --heading4-text-size: var(--global-dimension-font-size-300);
  --heading-s-text-size: var(--global-dimension-font-size-300);
  --heading4-margin-top: var(--global-dimension-font-size-200);
  --heading-s-margin-top: var(--global-dimension-font-size-200);
  --heading5-text-size: var(--global-dimension-font-size-200);
  --heading-xs-text-size: var(--global-dimension-font-size-200);
  --heading5-margin-top: var(--global-dimension-font-size-100);
  --heading-xs-margin-top: var(--global-dimension-font-size-100);
  --heading6-text-size: var(--global-dimension-font-size-100);
  --heading-xxs-text-size: var(--global-dimension-font-size-100);
  --heading6-margin-top: var(--global-dimension-font-size-75);
  --heading-xxs-margin-top: var(--global-dimension-font-size-75);
  --avatar-size-50: var(--global-dimension-size-200);
  --avatar-size-75: var(--global-dimension-size-225);
  --avatar-size-200: var(--global-dimension-size-275);
  --avatar-size-300: var(--global-dimension-size-325);
  --avatar-size-500: var(--global-dimension-size-400);
  --avatar-size-700: var(--global-dimension-size-500);
}

.wa--darkest,
.wa--dark,
.wa--light,
.wa--lightest {
  /* spectrum-colorAliases.css */
  --background-color-default: var(--global-color-gray-100);
  --background-color-transparent: transparent;
  --background-color-label-gray: rgb(112, 112, 112);
  --background-color-quickactions-overlay: rgba(0, 0, 0, 0.2);
  --placeholder-text-color: var(--global-color-gray-600);
  --placeholder-text-color-hover: var(--global-color-gray-900);
  --placeholder-text-color-down: var(--global-color-gray-900);
  --placeholder-text-color-selected: var(--global-color-gray-800);
  --label-text-color: var(--global-color-gray-700);
  --text-color: var(--global-color-gray-800);
  --text-color-hover: var(--global-color-gray-900);
  --text-color-down: var(--global-color-gray-900);
  --text-color-key-focus: var(--global-color-blue-600);
  --text-color-mouse-focus: var(--global-color-blue-600);
  --text-color-disabled: var(--global-color-gray-500);
  --text-color-invalid: var(--global-color-red-500);
  --text-color-selected: var(--global-color-blue-600);
  --text-color-selected-neutral: var(--global-color-gray-900);
  --title-text-color: var(--global-color-gray-900);
  --heading-text-color: var(--global-color-gray-900);
  --border-color: var(--global-color-gray-400);
  --border-color-hover: var(--global-color-gray-500);
  --border-color-down: var(--global-color-gray-500);
  --border-color-focus: var(--global-color-blue-400);
  --border-color-mouse-focus: var(--global-color-blue-500);
  --border-color-disabled: var(--global-color-gray-200);
  --border-color-extralight: var(--global-color-gray-100);
  --border-color-light: var(--global-color-gray-200);
  --border-color-mid: var(--global-color-gray-300);
  --border-color-dark: var(--global-color-gray-400);
  --border-color-transparent: transparent;
  --border-color-translucent-dark: rgba(0, 0, 0, 0.05);
  --border-color-translucent-darker: rgba(0, 0, 0, 0.1);
  --focus-color: var(--global-color-blue-400);
  --focus-ring-color: var(--focus-color);
  --track-color-default: var(--global-color-gray-300);
  --track-color-disabled: var(--global-color-gray-300);
  --track-color-over-background: rgba(255, 255, 255, 0.2);
  --icon-color: var(--global-color-gray-700);
  --icon-color-over-background: var(--white);
  --icon-color-hover: var(--global-color-gray-900);
  --icon-color-down: var(--global-color-gray-900);
  --icon-color-focus: var(--global-color-gray-900);
  --icon-color-disabled: var(--global-color-gray-400);
  --icon-color-selected-neutral: var(--global-color-gray-900);
  --icon-color-selected: var(--global-color-blue-500);
  --icon-color-selected-hover: var(--global-color-blue-600);
  --icon-color-selected-down: var(--global-color-blue-700);
  --icon-color-selected-focus: var(--global-color-blue-600);
  --icon-color-error: var(--global-color-red-400);
  --toolbar-background-color: var(--global-color-gray-100);
  --colorhandle-outer-border-color: rgba(0, 0, 0, 0.42);
  --categorical-color-1: var(--seafoam-200);
  --categorical-color-2: var(--indigo-700);
  --categorical-color-3: var(--orange-500);
  --categorical-color-4: var(--magenta-500);
  --categorical-color-5: var(--indigo-200);
  --categorical-color-6: var(--celery-200);
  --categorical-color-7: var(--blue-500);
  --categorical-color-8: var(--purple-800);
  --categorical-color-9: var(--yellow-500);
  --categorical-color-10: var(--orange-700);
  --categorical-color-11: var(--green-600);
  --categorical-color-12: var(--chartreuse-300);
  --categorical-color-13: var(--blue-200);
  --categorical-color-14: var(--fuchsia-500);
  --categorical-color-15: var(--magenta-200);
  --categorical-color-16: var(--yellow-200);
}
